{% load i18n %}
<h1 id="info">{% trans "Info" %}</h1>

<h2>{% trans "DRESS_CODE_HEADER" %}</h2>
<p>
	{% trans "DRESS_CODE_TEXT" %}
</p>
<h2>{% trans "PRE_PARTY_HEADER" %}</h2>
<p>
	{% trans "PRE_PARTY_TEXT_1" %}
</p>
<p>
	{% trans "PRE_PARTY_TEXT_2" %}
</p>
<h2>{% trans "SCHEDULE_HEADER" %}</h2>
<p>
	{% trans "SCHEDULE_TEXT" %}
</p>
<h2>{% trans "HOUSING_HEADER" %}</h2>
{% trans "HOUSING_TEXT" %}

<h2>{% trans "IMPORTANT_DATE_HEADER" %}</h2>
<p>
	{% trans "IMPORTANT_DATE_TEXT" %}
</p>

<h2>{% trans "GIFT_HEADER" %}</h2>
<p>
	{% trans "GIFT_TEXT" %}
</p>

<h2>{% trans "TRAVEL_INFO_HEADER" %}</h2>
<p>
	{% trans "TRAVEL_INFO_TEXT" %}
</p>
